.dragModeButton {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;

  background-color: white;
  border: 1px solid #999;
  font-size: 20px;

  &.enabled {
    background-color: #ff7200;
  }
}

.canvas {

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  line.edgeMock {
    stroke: #535557;
    stroke-dasharray: 5 5;
    stroke-width: 3;
    cursor: pointer;
  }

  .edgesLayer {

    line.graphEdge {
      stroke: #535557;
      stroke-width: 4;
      cursor: pointer;

      &.active {
        stroke: #ff7200;
      }
    }

  }

  .nodesLayer {

    circle.graphNode {
      stroke: #616161;
      stroke-width: 4;
      fill: #d6d6d6;
      cursor: pointer;

      &.active {
        stroke: #ff7200;
      }
    }

  }
}